@font-face {
  font-family: 'Friends';
  src: url('./fonts/friends.ttf') format('truetype');
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Friends', sans-serif  !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Consolas;
}