.home {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}

.login {
    padding-right: 30px;
    font-size: 26px;
}

.umbrellas_couch {
    height: 650px;
}