.text-courses {
    padding: 10px;
    font-size: xx-large;
    font-style: italic;
    margin: 0px;
    text-align: center;
}

.search {
    margin: 20px;
    text-align: center;
}

.allCoursesTitle {
    text-align: center;
    margin: 0px;
}

.search-input {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    margin: 20px;
    height: 40px;
}

.button {
    border-radius: 50%;
    background-color: rgb(196, 36, 36);
    padding: 10px;
    margin: 20px
}
