.edit-section {
    padding: 35px;
    position: relative;
    height: 550px;
    font-size: 26px;
    display: flex;
}

.edit-section-form {
    text-align: center;
}

.edit-section-input {
    width: 750px;
}

.edit-section-title {
    font-size: 26px;
}

.ace-editor {
    padding-left: 100px;
    padding-right: 100px;
}