.addSection {
    padding: 35px;
    position: relative;
    height: 550px;
    font-size: 26px;
    display: flex;
}

.ace-editor {
    padding-left: 100px;
    padding-right: 100px;
}

.length-warning {
    font-size: 18px;
}

.add-section-input {
    width: 750px;
}

.door {
    height:630px;
}

.new-section {
    text-align: center;
}
