.createCourse {
    padding: 35px;
    position: relative;
}

.createCourse ::after {
    content:'';
    display: block;
    background-image: url('./couch.jpg');
    background-size: cover;
    background-position: top center;
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.05;
}

.create-course-form {
    text-align: center;
}

.text-area-title {
    width: 600px;
    text-align: center;
}

.text-area-description {
    width: 600px;
    height: 150px;
}