.login {
    background-image: url(http://localhost:3000/frame2.jpg);
    background-repeat: repeat-y;
    background-size: 800px auto;
    background-position-x: center;
    padding-top: 20px;
    padding-bottom: 300px;
}

.login-text {
    text-align: center;
}