.table.table-striped.table-bordered.table-hover {
    width: 700px;
    line-height: 30px;
    border-style: solid;
    margin-right: 50px;
    justify-content: center;
    overflow-y: auto;
}
.tables-students {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-top: 50px; 
}
