.editCourse {
    padding: 35px;
    position: relative;
    height: 550px;
}

.editCourse ::after {
    content:'';
    display: block;
    background-image: url('./couch.jpg');
    background-size: cover;
    background-position: top center;
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.08;
}

.edit-course-form {
    text-align: center;
}