.text-users {
    padding: 10px;
    font-size: xx-large;
    font-style: italic;
    margin: 0px;
    text-align: center;
}

.button {
    border-radius: 50%;
    background-color: rgb(196, 36, 36);
    padding: 10px;
    margin: 20px
}

.users {
    display: flex;
    justify-content: center;
    text-align: center;
}

.umbrellas {
    height:500px;
    float:right;
    padding: 25px;
}

.allUsers {
    text-align: center;
    font-size: x-large;
}

.search-input-users {
    width: 250px;
    height: 40px;
    border-style: solid;
}

.search-users {
    font-size: x-large;
}

.button {
    font-size: small;
}