.course-details-header {
    text-align: center;
}

.course-details {
    text-align: center;
}

.switch-button{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.edit-icon {
    padding: 100px;
    color: black;
}

.allSections {
    font-size: 26px;
}