.header {
    background-color: black;
    min-height: 100px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: white;
}

.link {
    color: white;
}

.button-logout {
    color: white;
}

.link:hover {
    color: white;
    font-size: x-large;
}

.logo {
    width: 350px;
    height: auto;
}

.red-dot {
    height: 10px;
    width: 10px;
    background-color: rgb(196, 36, 36);
    border-radius: 50%;
    display: inline-block;
  }

  .blue-dot {
    height: 10px;
    width: 10px;
    background-color: rgb(41, 53, 223);
    border-radius: 50%;
    display: inline-block;
  }

  .yellow-dot {
    height: 10px;
    width: 10px;
    background-color: rgb(240, 229, 83);
    border-radius: 50%;
    display: inline-block;
  }